body {
    background-color: navy;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p {
  color:firebrick;
  margin-left: 10px;
  margin-right: 10px;
}
img {
    max-width: 100%;
    border-radius: 50%;
    height: auto;
}
