.card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
ul.fixed{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #607d8b;
  position: fixed;
  top:0;
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
li.menu{
  float:left;
}
li.menu a{
  display:block;
  color: white;
  padding:16px;
  text-decoration: none;
}
li.menu a:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}
.main{
  margin-top: 50px;
}
li.title{
  display:block;
  color: white;
  padding-right: 32px;
  padding-top:16px;
  padding-left:16px;
  padding-bottom:16px;
  text-decoration: none;
}
i.here{
  display:block;
  color: white;
  padding:16px;
  text-decoration: none;
  background-color: #37474F;
  font-style: normal;
}
body{
  background-color: #BDBDBD;
  margin: 0 0 100px;
  padding: 25px;
}
i.spacerwidth{
  padding-left: 50px;
  padding-right:50px;
}
i.spacerheight{
  padding-top:20px;
}
footer{
  background-color: white;
     position: absolute;
     left: 0;
     bottom: 0;
     height: 100px;
     width: 100%;
     overflow:hidden;
}
html{
  position: relative;
   min-height: 100%;
}
p.footersiteinfo{
  padding-left: 50px;
  padding-right:50px;
  text-align: center;
}
h2.main-title{
  text-align: center;
  padding-bottom: 5px;
}
.spacingfix{
  padding-right: 32px;

  padding-left:32px;

}
img.right {
    float: right;
    margin: 0 0 10px 10px;
}
img.left {
    float: left;
    margin: 0 0 10px 10px;
}
div.imgleft {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.imgleft:hover {
    border: 1px solid #777;
    float: left;
    margin: 0 0 10px 10px;
}

div.imgleft img {
    width: 100%;
    height: auto;
}

div.descleft {
    padding: 15px;
    text-align: center;
    float: left;
    margin: 0 0 10px 10px;
}
div.imgright {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
}

div.imgright:hover {
    border: 1px solid #777;
    float: right;
    margin: 0 0 10px 10px;
}

div.imgright img {
    width: 100%;
    height: auto;
}

div.descright {
    padding: 15px;
    text-align: center;
    float: right;
    margin: 0 0 10px 10px;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
li{
  list-style-type:none
}
a:link.MainIndex a:visited.MainIndex a:hover.MainIndex a:active.MainIndex{
  color: black;

}
